@import url('https://fonts.googleapis.com/css?family=Seymour+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    overflow-x: hidden;
}

.main-header {
    padding-top: 170px;
    height: 500px;
    background: linear-gradient(#ffa949, transparent 90%),
        linear-gradient(0deg, #fff, transparent),
        #ffa949 url("./images/dogs-in-group-banner.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
    margin-bottom: 8%;
}


h1 {
    font-family: 'Seymour One', sans-serif;
    font-size: 3em;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-align: center;
    margin-top: 10%;
}


.border {
    border-top: 2px solid #dfe2e6;
}

p {
    margin-top: 5%;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 100%;
    font-size: 1.25em;
    /* 20px/16px */
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffa949;

}

form {
    margin: 0 35% 0 35%;
}

#result {
    display: none;
    width: 100%;
    color: #777676;
    text-align: center;
    padding: 10% 15%;
    border-top: 10px solid #ffa949;
    margin: -5% 0% 0% 0%;
    box-shadow: inset 0 0 50px 10px rgba(53, 52, 52, 0.8);
    border-radius: 10px;
}

main {
    margin-top: 8%;
    color: #777676;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    /* margin-right: auto;
    margin-left: auto; */
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(#fff, transparent 90%),
        linear-gradient(0deg, #ffa949, transparent);
}

#agenum {
    font-weight: bold;
    font-size: .8em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#sizenum {
    color: #777676;
    font-size: .8em;
    font-weight: bold;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* #sizenum option:hover{
    background-color: #777676;
} */
#calculate {
    font-size: .8em;
    font-weight: bold;
    width: 90%;
    background-color: #ff7300;
    color: #ffffff;
    padding: 14px 10px;
    margin-top: 3%;
    margin-left: 5%;
    border: 1px solid #ffa949;
    border-radius: 4px;
    cursor: pointer;
}

#calculate:hover {
    background-color: #e76a04;
}

.answer {
    font-family: 'Seymour One', sans-serif;

}

footer {
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
    color: white;
    padding-bottom: 2%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}


@media (max-width: 850px) {
    .main-header {
        height: 300px;
    }

    h1 {
        font-size: 2em;
    }


    .border {
        border-top: 1px solid #fff;
    }

    p {
        width: 100%;
    }

    form {
        margin: 0 15% 0 15%;
    }

    /* #agenum {
        width: 100%;
    }

    #sizenum {
        width: 100%;
    }

    #calculate {
        width: 90%;
    } */

}

/* @media (max-width: 850px) {
    .main-header {
        height: 200px;
    }
} */